In [1]:
import pandas as pd
import ast

In [2]:
url = "https://github.com/FranciscoHugoLezik/Movies_data/blob/main/movies_dataset.parquet?raw=true"
movies_dataset_df = pd.read_parquet(url, engine="fastparquet")

In [3]:
movies_dataset_df.iloc[0]

adult                                                                False
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
original_title                                                   Toy Story
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                          373554033
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                               None
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                            5415
Name: 0, dtype: object

In [4]:
belongs_to_collection_df = movies_dataset_df[['belongs_to_collection','id']]

In [5]:
belongs_to_collection_df = belongs_to_collection_df.rename(columns={'id': 'movie_id'})

In [6]:
belongs_to_collection_df.iloc[0]['belongs_to_collection']

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [7]:
belongs_to_collection_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   movie_id               45466 non-null  object
dtypes: object(2)
memory usage: 710.5+ KB

In [8]:
belongs_to_collection_df = belongs_to_collection_df.dropna(subset='belongs_to_collection')

In [9]:
belongs_to_collection_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4494 entries, 0 to 45382
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   movie_id               4494 non-null   object
dtypes: object(2)
memory usage: 105.3+ KB

In [14]:
# Convertir la columna de cadenas de texto a diccionarios
belongs_to_collection_dict_series = belongs_to_collection_df['belongs_to_collection'].apply(ast.literal_eval)

# Expandir la columna de diccionarios en columnas separadas
only_belongs_to_collection_df = belongs_to_collection_dict_series.apply(pd.Series)

# Concatenar el DataFrame expandido con la columna num√©rica original
belongs_to_collection_modified_df = pd.concat([only_belongs_to_collection_df, belongs_to_collection_df['movie_id']], axis=1)

In [16]:
belongs_to_collection_modified_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4494 entries, 0 to 45382
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4491 non-null   float64
 1   name           4491 non-null   object
 2   poster_path    3948 non-null   object
 3   backdrop_path  3263 non-null   object
 4   0              3 non-null      float64
 5   movie_id       4494 non-null   object
dtypes: float64(2), object(4)
memory usage: 245.8+ KB

In [17]:
belongs_to_collection_modified_df = belongs_to_collection_modified_df.drop(columns=[0, 'poster_path'])

In [18]:
belongs_to_collection_modified_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4494 entries, 0 to 45382
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4491 non-null   float64
 1   name           4491 non-null   object
 2   backdrop_path  3263 non-null   object
 3   movie_id       4494 non-null   object
dtypes: float64(1), object(3)
memory usage: 175.5+ KB

In [19]:
belongs_to_collection_modified_df = belongs_to_collection_modified_df.dropna(subset='id')

In [20]:
belongs_to_collection_modified_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4491 entries, 0 to 45382
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4491 non-null   float64
 1   name           4491 non-null   object
 2   backdrop_path  3263 non-null   object
 3   movie_id       4491 non-null   object
dtypes: float64(1), object(3)
memory usage: 175.4+ KB

In [21]:
belongs_to_collection_modified_df = belongs_to_collection_modified_df.reset_index(drop=True)

In [22]:
belongs_to_collection_modified_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4491 entries, 0 to 4490
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4491 non-null   float64
 1   name           4491 non-null   object
 2   backdrop_path  3263 non-null   object
 3   movie_id       4491 non-null   object
dtypes: float64(1), object(3)
memory usage: 140.5+ KB

In [23]:
belongs_to_collection_modified_df['id'] = belongs_to_collection_modified_df['id'].astype('str')

In [24]:
belongs_to_collection_modified_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4491 entries, 0 to 4490
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4491 non-null   object
 1   name           4491 non-null   object
 2   backdrop_path  3263 non-null   object
 3   movie_id       4491 non-null   object
dtypes: object(4)
memory usage: 140.5+ KB

In [25]:
belongs_to_collection_modified_df.to_parquet('../data/belongs_to_collection_ETL.parquet')