In [1]:
import pandas as pd
import ast

In [2]:
url = "https://github.com/FranciscoHugoLezik/Movies_data/blob/main/movies_dataset.parquet?raw=true"
movies_dataset_df = pd.read_parquet(url, engine="fastparquet")

In [3]:
movies_dataset_df.iloc[0]

adult                                                                False
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
original_title                                                   Toy Story
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                          373554033
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                               None
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                            5415
Name: 0, dtype: object

In [18]:
production_companies_df = movies_dataset_df[['production_companies','id']]

In [19]:
production_companies_df = production_companies_df.rename(columns={'id': 'movie_id'})

In [20]:
production_companies_df.iloc[0]['production_companies']

"[{'name': 'Pixar Animation Studios', 'id': 3}]"

In [21]:
production_companies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   production_companies  45463 non-null  object
 1   movie_id              45466 non-null  object
dtypes: object(2)
memory usage: 710.5+ KB

In [22]:
production_companies_df = production_companies_df.dropna(subset=['production_companies'])

In [23]:
production_companies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45463 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   production_companies  45463 non-null  object
 1   movie_id              45463 non-null  object
dtypes: object(2)
memory usage: 1.0+ MB

In [24]:
production_companies_list_dict = [
    {**production_companies_dict, 'movie_id': row['movie_id']}
    for _, row in production_companies_df.iterrows()
    for production_companies_dict in ast.literal_eval(row['production_companies'])
]

TypeError: 'bool' object is not iterable

In [25]:
production_companies_df = production_companies_df[~production_companies_df['production_companies'].isin(['True', 'False'])]

In [26]:
production_companies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45460 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   production_companies  45460 non-null  object
 1   movie_id              45460 non-null  object
dtypes: object(2)
memory usage: 1.0+ MB

In [27]:
production_companies_list_dict = [
    {**production_companies_dict, 'movie_id': row['movie_id']}
    for _, row in production_companies_df.iterrows()
    for production_companies_dict in ast.literal_eval(row['production_companies'])
]

In [28]:
production_companies_modified_df = pd.DataFrame(production_companies_list_dict)

In [29]:
production_companies_modified_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70545 entries, 0 to 70544
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      70545 non-null  object
 1   id        70545 non-null  int64
 2   movie_id  70545 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.6+ MB

In [30]:
production_companies_modified_df['id'] = production_companies_modified_df['id'].astype('str')

In [31]:
production_companies_modified_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70545 entries, 0 to 70544
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      70545 non-null  object
 1   id        70545 non-null  object
 2   movie_id  70545 non-null  object
dtypes: object(3)
memory usage: 1.6+ MB

In [32]:
production_companies_modified_df.to_parquet('../data/production_companies_ETL.parquet')