### ETL del archivo en crudo `cast.parquet`

In [54]:
import pandas as pd
import ast
import os
import gc

In [55]:
url = "https://github.com/FranciscoHugoLezik/Movies_data/blob/main/credits/cast.parquet?raw=true"

cast = (
    pd.read_parquet(
        url, 
        engine='fastparquet'))

In [56]:
cast.iloc[0]

cast    [{'cast_id': 14, 'character': 'Woody (voice)',...
id                                                    862
Name: 0, dtype: object

In [57]:
cast.rename(
    columns={'id': 'movie_id'}, 
    inplace=True)

In [58]:
cast.iloc[0]

cast        [{'cast_id': 14, 'character': 'Woody (voice)',...
movie_id                                                  862
Name: 0, dtype: object

In [59]:
cast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cast      45476 non-null  object
 1   movie_id  45476 non-null  int64
dtypes: int64(1), object(1)
memory usage: 710.7+ KB

In [60]:
elenco_por_pelicula = [
    {**actores, 'movie_id': row['movie_id']}
    for _, row in cast.iterrows()
    for actores in ast.literal_eval(row['cast'])
]

cast = pd.DataFrame(elenco_por_pelicula)

In [61]:
del elenco_por_pelicula
gc.collect()

275

In [62]:
cast.iloc[0]

cast_id                                       14
character                          Woody (voice)
credit_id               52fe4284c3a36847f8024f95
gender                                         2
id                                            31
name                                   Tom Hanks
order                                          0
profile_path    /pQFoyx7rp09CJTAb932F2g8Nlho.jpg
movie_id                                     862
Name: 0, dtype: object

In [63]:
cast.drop(
    columns='profile_path', 
    inplace=True)

In [64]:
'profile_path' not in cast.columns

True

In [65]:
cast.rename(
    columns={'id': 'person_id'}, 
    inplace=True)

In [66]:
('person_id' in cast.columns 
 and 'id' not in cast.columns)

True

In [67]:
cast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562474 entries, 0 to 562473
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   cast_id    562474 non-null  int64
 1   character  562474 non-null  object
 2   credit_id  562474 non-null  object
 3   gender     562474 non-null  int64
 4   person_id  562474 non-null  int64
 5   name       562474 non-null  object
 6   order      562474 non-null  int64
 7   movie_id   562474 non-null  int64
dtypes: int64(5), object(3)
memory usage: 34.3+ MB

In [68]:
cast['cast_id'] = (
    cast['cast_id'].astype(str))

cast['gender'] = (
    cast['gender'].astype(str))

cast['person_id'] = (
    cast['person_id'].astype(str))

cast['order'] = (
    cast['order'].astype(str))

cast['movie_id'] = (
    cast['movie_id'].astype(str))

In [69]:
cast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562474 entries, 0 to 562473
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   cast_id    562474 non-null  object
 1   character  562474 non-null  object
 2   credit_id  562474 non-null  object
 3   gender     562474 non-null  object
 4   person_id  562474 non-null  object
 5   name       562474 non-null  object
 6   order      562474 non-null  object
 7   movie_id   562474 non-null  object
dtypes: object(8)
memory usage: 34.3+ MB

In [70]:
current_dir = os.getcwd()

current_dir

'c:\\Users\\franc\\Desktop\\Proyecto_Peliculas\\notebooks\\ETL'

In [71]:
base_dir = (
    os.path.dirname(
        os.path.dirname(
            current_dir)))

base_dir

'c:\\Users\\franc\\Desktop\\Proyecto_Peliculas'

In [72]:
file_path = (
    os.path.join(
        base_dir, 
        'data', 
        'ETL', 
        'cast.parquet'))

file_path

'c:\\Users\\franc\\Desktop\\Proyecto_Peliculas\\data\\ETL\\cast.parquet'

In [73]:
cast.to_parquet(file_path)

In [74]:
del cast
gc.collect()

75