### ETL del archivo en crudo `crew.parquet`

In [25]:
import pandas as pd
import ast
import os
import gc

In [26]:
url = "https://github.com/FranciscoHugoLezik/Movies_data/blob/main/credits/crew.parquet?raw=true"

crew = (
    pd.read_parquet(
        url, 
        engine='fastparquet'))

In [27]:
crew.iloc[0]

crew    [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
id                                                    862
Name: 0, dtype: object

In [28]:
crew.rename(
    columns={'id': 'movie_id'}, 
    inplace=True)

In [29]:
crew.iloc[0]

crew        [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
movie_id                                                  862
Name: 0, dtype: object

In [30]:
crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   crew      45476 non-null  object
 1   movie_id  45476 non-null  int64
dtypes: int64(1), object(1)
memory usage: 710.7+ KB

In [31]:
reparto_por_pelicula = [
    {**reparto, 'movie_id': row['movie_id']}
    for _, row in crew.iterrows()
    for reparto in ast.literal_eval(row['crew'])
]

crew = pd.DataFrame(reparto_por_pelicula)

In [32]:
del reparto_por_pelicula
gc.collect()

528

In [33]:
crew.iloc[0]

credit_id               52fe4284c3a36847f8024f49
department                             Directing
gender                                         2
id                                          7879
job                                     Director
name                               John Lasseter
profile_path    /7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg
movie_id                                     862
Name: 0, dtype: object

In [34]:
crew.drop(
    columns='profile_path', 
    inplace=True)

In [35]:
'profile_path' not in crew.columns

True

In [36]:
crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464314 entries, 0 to 464313
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   credit_id   464314 non-null  object
 1   department  464314 non-null  object
 2   gender      464314 non-null  int64
 3   id          464314 non-null  int64
 4   job         464314 non-null  object
 5   name        464314 non-null  object
 6   movie_id    464314 non-null  int64
dtypes: int64(3), object(4)
memory usage: 24.8+ MB

In [37]:
crew['gender'] = (
    crew['gender'].astype(str))

crew['id'] = (
    crew['id'].astype(str))

crew['movie_id'] = (
    crew['movie_id'].astype(str))

In [38]:
crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464314 entries, 0 to 464313
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   credit_id   464314 non-null  object
 1   department  464314 non-null  object
 2   gender      464314 non-null  object
 3   id          464314 non-null  object
 4   job         464314 non-null  object
 5   name        464314 non-null  object
 6   movie_id    464314 non-null  object
dtypes: object(7)
memory usage: 24.8+ MB

In [39]:
current_dir = os.getcwd()

current_dir

'c:\\Users\\franc\\Desktop\\Proyecto_Peliculas\\notebooks\\ETL'

In [40]:
base_dir = (
    os.path.dirname(
        os.path.dirname(
            current_dir)))

base_dir

'c:\\Users\\franc\\Desktop\\Proyecto_Peliculas'

In [41]:
file_path = (
    os.path.join(
        base_dir, 
        'data', 
        'ETL', 
        'crew.parquet'))

file_path

'c:\\Users\\franc\\Desktop\\Proyecto_Peliculas\\data\\ETL\\crew.parquet'

In [42]:
crew.to_parquet(file_path)

In [43]:
del crew
gc.collect()

105