### ETL del archivo en crudo `cast.parquet`

In [1]:
import pandas as pd
import ast
import os

In [2]:
url = "https://github.com/FranciscoHugoLezik/Movies_data/blob/main/credits/cast.parquet?raw=true"

cast = pd.read_parquet(url, 
                       engine='fastparquet')

cast.iloc[0]

cast    [{'cast_id': 14, 'character': 'Woody (voice)',...
id                                                    862
Name: 0, dtype: object

In [3]:
cast.rename(columns={'id': 'movie_id'}, 
            inplace=True)

cast.iloc[0]

cast        [{'cast_id': 14, 'character': 'Woody (voice)',...
movie_id                                                  862
Name: 0, dtype: object

In [4]:
cast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cast      45476 non-null  object
 1   movie_id  45476 non-null  int64
dtypes: int64(1), object(1)
memory usage: 710.7+ KB

In [5]:
list_dict = [
    {**member, 'movie_id': row['movie_id']}
    for _, row in cast.iterrows()
    for member in ast.literal_eval(row['cast'])
]

cast = pd.DataFrame(list_dict)

In [6]:
cast.iloc[0]

cast_id                                       14
character                          Woody (voice)
credit_id               52fe4284c3a36847f8024f95
gender                                         2
id                                            31
name                                   Tom Hanks
order                                          0
profile_path    /pQFoyx7rp09CJTAb932F2g8Nlho.jpg
movie_id                                     862
Name: 0, dtype: object

In [7]:
cast.rename(columns={'id': 'person_id'}, 
            inplace=True)

In [8]:
cast.iloc[0]

cast_id                                       14
character                          Woody (voice)
credit_id               52fe4284c3a36847f8024f95
gender                                         2
person_id                                     31
name                                   Tom Hanks
order                                          0
profile_path    /pQFoyx7rp09CJTAb932F2g8Nlho.jpg
movie_id                                     862
Name: 0, dtype: object

In [9]:
cast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562474 entries, 0 to 562473
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   cast_id       562474 non-null  int64
 1   character     562474 non-null  object
 2   credit_id     562474 non-null  object
 3   gender        562474 non-null  int64
 4   person_id     562474 non-null  int64
 5   name          562474 non-null  object
 6   order         562474 non-null  int64
 7   profile_path  388618 non-null  object
 8   movie_id      562474 non-null  int64
dtypes: int64(5), object(4)
memory usage: 38.6+ MB

In [10]:
cast['cast_id'] = cast['cast_id'].astype(str)
cast['gender'] = cast['gender'].astype(str)
cast['person_id'] = cast['person_id'].astype(str)
cast['order'] = cast['order'].astype(str)
cast['movie_id'] = cast['movie_id'].astype(str)

In [11]:
cast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562474 entries, 0 to 562473
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   cast_id       562474 non-null  object
 1   character     562474 non-null  object
 2   credit_id     562474 non-null  object
 3   gender        562474 non-null  object
 4   person_id     562474 non-null  object
 5   name          562474 non-null  object
 6   order         562474 non-null  object
 7   profile_path  388618 non-null  object
 8   movie_id      562474 non-null  object
dtypes: object(9)
memory usage: 38.6+ MB

In [12]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\franc\\Desktop\\Proyecto_Peliculas\\notebooks\\ETL\\credits'

In [13]:
base_dir = (
    os.path.dirname(
        os.path.dirname(
            os.path.dirname(
                current_dir))))
base_dir

'c:\\Users\\franc\\Desktop\\Proyecto_Peliculas'

In [14]:
file_path = os.path.join(base_dir, 
                         'data', 
                         'ETL_data', 
                         'credits', 
                         'cast.parquet')
file_path

'c:\\Users\\franc\\Desktop\\Proyecto_Peliculas\\data\\ETL_data\\credits\\cast.parquet'

In [15]:
cast.to_parquet(file_path)