### ETL del archivo en crudo `crew.parquet`

In [1]:
import pandas as pd
import ast
import os

In [2]:
url = "https://github.com/FranciscoHugoLezik/Movies_data/blob/main/credits/crew.parquet?raw=true"
crew_df = pd.read_parquet(url, engine='fastparquet')

In [3]:
crew_df.iloc[0]

crew    [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
id                                                    862
Name: 0, dtype: object

In [4]:
crew_df.rename(columns={'id': 'movie_id'}, inplace=True)

In [5]:
crew_df.iloc[0]

crew        [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
movie_id                                                  862
Name: 0, dtype: object

In [6]:
crew_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   crew      45476 non-null  object
 1   movie_id  45476 non-null  int64
dtypes: int64(1), object(1)
memory usage: 710.7+ KB

In [7]:
crew_list_dict = [
    {**crew_member, 'movie_id': row['movie_id']}
    for _, row in crew_df.iterrows()
    for crew_member in ast.literal_eval(row['crew'])
]

# Crear un DataFrame a partir de la lista de diccionarios
modified_crew_df = pd.DataFrame(crew_list_dict)

In [14]:
modified_crew_df.iloc[0]

credit_id               52fe4284c3a36847f8024f49
department                             Directing
gender                                         2
id                                          7879
job                                     Director
name                               John Lasseter
profile_path    /7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg
movie_id                                     862
Name: 0, dtype: object

In [15]:
modified_crew_df.rename(columns={'id': 'person_id'}, inplace=True)

In [16]:
modified_crew_df.iloc[0]

credit_id               52fe4284c3a36847f8024f49
department                             Directing
gender                                         2
person_id                                   7879
job                                     Director
name                               John Lasseter
profile_path    /7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg
movie_id                                     862
Name: 0, dtype: object

In [17]:
modified_crew_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464314 entries, 0 to 464313
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   credit_id     464314 non-null  object
 1   department    464314 non-null  object
 2   gender        464314 non-null  int64
 3   person_id     464314 non-null  int64
 4   job           464314 non-null  object
 5   name          464314 non-null  object
 6   profile_path  95098 non-null   object
 7   movie_id      464314 non-null  int64
dtypes: int64(3), object(5)
memory usage: 28.3+ MB

In [18]:
modified_crew_df['gender'] = modified_crew_df['gender'].astype(str)
modified_crew_df['person_id'] = modified_crew_df['person_id'].astype(str)
modified_crew_df['movie_id'] = modified_crew_df['movie_id'].astype(str)

In [19]:
modified_crew_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464314 entries, 0 to 464313
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   credit_id     464314 non-null  object
 1   department    464314 non-null  object
 2   gender        464314 non-null  object
 3   person_id     464314 non-null  object
 4   job           464314 non-null  object
 5   name          464314 non-null  object
 6   profile_path  95098 non-null   object
 7   movie_id      464314 non-null  object
dtypes: object(8)
memory usage: 28.3+ MB

In [20]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\franc\\Desktop\\Proyecto_Peliculas\\notebooks\\ETL\\credits'

In [22]:
base_dir = os.path.dirname(os.path.dirname(os.path.dirname(current_dir)))
base_dir

'c:\\Users\\franc\\Desktop\\Proyecto_Peliculas'

In [23]:
file_path = os.path.join(base_dir, 'data', 'ETL_data', 'credits', 'crew.parquet')
file_path

'c:\\Users\\franc\\Desktop\\Proyecto_Peliculas\\data\\ETL_data\\credits\\crew.parquet'

In [24]:
modified_crew_df.to_parquet(file_path)