In [3]:
import os
import pandas as pd

In [5]:
def importar_archivo(*args):
    current_dir = os.getcwd()
    base_dir = os.path.dirname(current_dir)
    file_path = os.path.join(base_dir, *args)
    archivo = pd.read_parquet(file_path, 
                              engine='fastparquet')
    return(archivo)


movies = importar_archivo('data', 
                          'ETL_data', 
                          'movies_dataset', 
                          'movies.parquet')
movies.set_index('title', 
                 inplace=True)

In [7]:
cast = importar_archivo('data', 
                        'ETL_data', 
                        'credits', 
                        'cast.parquet')

In [8]:
actor = cast[cast['name'] == 'Tom Hanks']
actor.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72 entries, 0 to 542087
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cast_id       72 non-null     object
 1   character     72 non-null     object
 2   credit_id     72 non-null     object
 3   gender        72 non-null     object
 4   person_id     72 non-null     object
 5   name          72 non-null     object
 6   order         72 non-null     object
 7   profile_path  72 non-null     object
 8   movie_id      72 non-null     object
dtypes: object(9)
memory usage: 5.6+ KB

In [9]:
actor = actor[['name', 'movie_id']].copy()
actor

             name movie_id
0       Tom Hanks      862
2393    Tom Hanks      568
5859    Tom Hanks       13
8489    Tom Hanks     9800
9083    Tom Hanks      858
...           ...      ...
504992  Tom Hanks   363676
520042  Tom Hanks   207932
538742  Tom Hanks   140465
541857  Tom Hanks   305642
542087  Tom Hanks   331214

[72 rows x 2 columns]

In [10]:
actor.drop_duplicates(subset=['movie_id'], inplace=True)
actor.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71 entries, 0 to 542087
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      71 non-null     object
 1   movie_id  71 non-null     object
dtypes: object(2)
memory usage: 1.7+ KB

In [11]:
peliculas = movies[['id', 'return']].copy()
peliculas.rename(columns={'id': 'movie_id'}, inplace=True)
peliculas = pd.merge(actor, peliculas, on='movie_id')

In [12]:
peliculas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      71 non-null     object
 1   movie_id  71 non-null     object
 2   return    71 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.8+ KB

In [13]:
peliculas_con_retorno = peliculas[peliculas['return'] != 0]
peliculas_con_retorno.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41 entries, 0 to 67
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      41 non-null     object
 1   movie_id  41 non-null     object
 2   return    41 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB