In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
movies_df = pd.read_parquet('../data/movies_dataset/movies_ETL.parquet', engine='fastparquet')

In [3]:
movies_df.head()

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,release_year,return
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033,81.0,Released,None,Toy Story,7.7,5415,1995,12.451801
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413,1995,4.043035
2,0,15602,en,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92,1995,0.000000
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156,127.0,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34,1995,5.090760
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911,106.0,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173,1995,0.000000

In [4]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45376 entries, 0 to 45375
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45376 non-null  int64
 1   id                 45376 non-null  object
 2   original_language  45365 non-null  object
 3   overview           44435 non-null  object
 4   popularity         45376 non-null  float64
 5   release_date       45376 non-null  datetime64[ns]
 6   revenue            45376 non-null  int64
 7   runtime            45130 non-null  float64
 8   status             45296 non-null  object
 9   tagline            20398 non-null  object
 10  title              45376 non-null  object
 11  vote_average       45376 non-null  float64
 12  vote_count         45376 non-null  int32
 13  release_year       45376 non-null  int32
 14  return             45376 non-null  float64
dtypes: datetime64[ns](1), float64(4), int32(2), int64(2), object(6)
memory usage: 4.8+ MB

In [5]:
movies_df['status'].value_counts()

status
Released           44936
Rumored              230
Post Production       97
In Production         19
Planned               13
Canceled               1
Name: count, dtype: int64

In [6]:
peliculas_estrenadas = movies_df[movies_df['status'] == 'Released']

In [7]:
peliculas_estrenadas.head()

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,release_year,return
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033,81.0,Released,None,Toy Story,7.7,5415,1995,12.451801
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413,1995,4.043035
2,0,15602,en,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92,1995,0.000000
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156,127.0,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34,1995,5.090760
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911,106.0,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173,1995,0.000000

In [8]:
peliculas_estrenadas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44936 entries, 0 to 45375
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             44936 non-null  int64
 1   id                 44936 non-null  object
 2   original_language  44926 non-null  object
 3   overview           44029 non-null  object
 4   popularity         44936 non-null  float64
 5   release_date       44936 non-null  datetime64[ns]
 6   revenue            44936 non-null  int64
 7   runtime            44696 non-null  float64
 8   status             44936 non-null  object
 9   tagline            20287 non-null  object
 10  title              44936 non-null  object
 11  vote_average       44936 non-null  float64
 12  vote_count         44936 non-null  int32
 13  release_year       44936 non-null  int32
 14  return             44936 non-null  float64
dtypes: datetime64[ns](1), float64(4), int32(2), int64(2), object(6)
memory usage: 5.1+ MB

In [9]:
peliculas_estrenadas.reset_index(inplace=True, drop=True)

In [10]:
peliculas_estrenadas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44936 entries, 0 to 44935
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             44936 non-null  int64
 1   id                 44936 non-null  object
 2   original_language  44926 non-null  object
 3   overview           44029 non-null  object
 4   popularity         44936 non-null  float64
 5   release_date       44936 non-null  datetime64[ns]
 6   revenue            44936 non-null  int64
 7   runtime            44696 non-null  float64
 8   status             44936 non-null  object
 9   tagline            20287 non-null  object
 10  title              44936 non-null  object
 11  vote_average       44936 non-null  float64
 12  vote_count         44936 non-null  int32
 13  release_year       44936 non-null  int32
 14  return             44936 non-null  float64
dtypes: datetime64[ns](1), float64(4), int32(2), int64(2), object(6)
memory usage: 4.8+ MB

In [11]:
columnas_a_analizar = peliculas_estrenadas[['budget',
                                            'popularity',
                                            'revenue',
                                            'runtime',
                                            'vote_average',
                                            'vote_count',
                                            'return']]

In [12]:
columnas_a_analizar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44936 entries, 0 to 44935
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   budget        44936 non-null  int64
 1   popularity    44936 non-null  float64
 2   revenue       44936 non-null  int64
 3   runtime       44696 non-null  float64
 4   vote_average  44936 non-null  float64
 5   vote_count    44936 non-null  int32
 6   return        44936 non-null  float64
dtypes: float64(4), int32(1), int64(2)
memory usage: 2.2 MB