### ETL del archivo en crudo `movies_dataset.parquet` de la columna `genres`

In [1]:
import pandas as pd
import ast
import os

In [2]:
url = "https://github.com/FranciscoHugoLezik/Movies_data/blob/main/movies_dataset.parquet?raw=true"

movies_dataset = pd.read_parquet(url, 
                                 engine="fastparquet")

movies_dataset.iloc[0]

adult                                                                False
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
original_title                                                   Toy Story
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                          373554033
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                               None
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                            5415
Name: 0, dtype: object

In [3]:
genres = movies_dataset[['genres', 
                         'id']].copy()

genres.iloc[0]

genres    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
id                                                      862
Name: 0, dtype: object

In [4]:
genres.rename(columns={'id': 'movie_id'}, 
              inplace=True)

genres.iloc[0]

genres      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
movie_id                                                  862
Name: 0, dtype: object

In [5]:
genres.iloc[0]['genres']

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [6]:
genres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    45466 non-null  object
 1   movie_id  45466 non-null  object
dtypes: object(2)
memory usage: 710.5+ KB

In [7]:
list_dict = [
    {**genre, 'movie_id': row['movie_id']}
    for _, row in genres.iterrows()
    for genre in ast.literal_eval(row['genres'])
]

In [8]:
genres = pd.DataFrame(list_dict)

genres.iloc[0]

id                 16
name        Animation
movie_id          862
Name: 0, dtype: object

In [9]:
genres.rename(columns={'id': 'genre_id', 
                       'name': 'genre_name'}, 
                       inplace=True)

genres.iloc[0]

genre_id             16
genre_name    Animation
movie_id            862
Name: 0, dtype: object

In [10]:
genres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91106 entries, 0 to 91105
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   genre_id    91106 non-null  int64
 1   genre_name  91106 non-null  object
 2   movie_id    91106 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.1+ MB

In [11]:
genres['genre_id'] = genres['genre_id'].astype('str')

genres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91106 entries, 0 to 91105
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   genre_id    91106 non-null  object
 1   genre_name  91106 non-null  object
 2   movie_id    91106 non-null  object
dtypes: object(3)
memory usage: 2.1+ MB

In [12]:
current_dir = os.getcwd()

current_dir

'c:\\Users\\franc\\Desktop\\Proyecto_Peliculas\\notebooks\\ETL\\movies_dataset\\nested_data'

In [13]:
base_dir = os.path.dirname(
    os.path.dirname(
        os.path.dirname(
            os.path.dirname(current_dir))))

base_dir

'c:\\Users\\franc\\Desktop\\Proyecto_Peliculas'

In [14]:
file_path = os.path.join(base_dir, 
                         'data', 
                         'ETL_data', 
                         'movies_dataset', 
                         'previous_nested_data', 
                         'genres.parquet')

file_path

'c:\\Users\\franc\\Desktop\\Proyecto_Peliculas\\data\\ETL_data\\movies_dataset\\previous_nested_data\\genres.parquet'

In [15]:
genres.to_parquet(file_path)