In [2]:
import pandas as pd
import json
import re
import ast

In [15]:
cast_df = pd.read_parquet('../data/movies_data/credits/cast.parquet', engine='fastparquet')

In [4]:
type(cast_df)

pandas.core.frame.DataFrame

In [5]:
cast_df.shape

(45476, 2)

In [18]:
cast_df.head()

                                                cast     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  11862

In [19]:
cast_df.rename(columns={'id': 'movie_id'}, inplace=True)

In [20]:
cast_df.head()

                                                cast  movie_id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...       862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...      8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...     15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...     31357
4  [{'cast_id': 1, 'character': 'George Banks', '...     11862

In [23]:
dfs = []

# Iterar sobre las filas del DataFrame original
for index, row in cast_df.iterrows():
    # Convertir la cadena a una lista de diccionarios
    cast_list = ast.literal_eval(row['cast'])
    # Crear un DataFrame temporal a partir de la lista de diccionarios
    df_temp = pd.DataFrame(cast_list)
    # Añadir la columna 'id' al DataFrame temporal
    df_temp['movie_id'] = row['movie_id']
    # Añadir el DataFrame temporal a la lista
    dfs.append(df_temp)

# Concatenar todos los DataFrames temporales en uno solo
df_resultante = pd.concat(dfs, ignore_index=True)

df_resultante

,cast_id,character,credit_id,gender,id,name,order,profile_path,movie_id
0,14.0,Woody (voice),52fe4284c3a36847f8024f95,2.0,31.0,Tom Hanks,0.0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,862
1,15.0,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2.0,12898.0,Tim Allen,1.0,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,862
2,16.0,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2.0,7167.0,Don Rickles,2.0,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,862
3,17.0,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2.0,12899.0,Jim Varney,3.0,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,862
4,18.0,Rex (voice),52fe4284c3a36847f8024fa5,2.0,12900.0,Wallace Shawn,4.0,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,862
...,...,...,...,...,...,...,...,...,...
562469,2.0,,52fe4ea59251416c7515d7d5,2.0,544742.0,Iwan Mosschuchin,0.0,None,227506
562470,3.0,,52fe4ea59251416c7515d7d9,1.0,1090923.0,Nathalie Lissenko,1.0,None,227506
562471,4.0,,52fe4ea59251416c7515d7dd,2.0,1136422.0,Pavel Pavlov,2.0,None,227506
562472,5.0,,52fe4ea59251416c7515d7e1,0.0,1261758.0,Aleksandr Chabrov,3.0,None,227506
562473,6.0,,52fe4ea59251416c7515d7e5,1.0,29199.0,Vera Orlova,4.0,/n1NXVGNzNxtqsMWxLT1h8GO8Kpi.jpg,227506

In [12]:
dfs = []

for lista in lista_resultante:
    df_temp = pd.DataFrame(lista)
    dfs.append(df_temp)

# Concatenar todos los DataFrames de una vez
df_resultante = pd.concat(dfs, ignore_index=True)

df_resultante.head()

                                                   0
0  [{'cast_id': 14, 'character': 'Woody (voice)',...
1                                                862
2  [{'cast_id': 1, 'character': 'Alan Parrish', '...
3                                               8844
4  [{'cast_id': 2, 'character': 'Max Goldman', 'c...

In [ ]:
lista_resultante_id = id_df['id'].apply(convertir_a_lista).dropna().tolist()
len(lista_resultante_id)

In [14]:
def convertir_a_lista(elemento):
    try:
        return ast.literal_eval(elemento)
    except (ValueError, SyntaxError):
        return None
    
    
lista_resultante_cast = cast_df['cast'].apply(convertir_a_lista).tolist()
len(lista_resultante_cast)

lista_resultante_id = id_df['id'].apply(convertir_a_lista).tolist()
len(lista_resultante_id)


dfs = []

for elem_cast, elem_id in zip(lista_resultante_cast, lista_resultante_id):
    elem_cast_temp_df = pd.DataFrame(elem_cast)
    elem_id_temp_df = pd.DataFrame([elem_id], columns=['id'])
    elem_id_temp_df_repeat = pd.concat([elem_id_temp_df] * len(elem_cast_temp_df), ignore_index=True)
    elem_cast_id_temp_df = pd.concat([elem_cast_temp_df.reset_index(drop=True), elem_id_temp_df_repeat.reset_index(drop=True)], axis=1)
    lista_resultante = elem_cast_id_temp_df.apply(convertir_a_lista).tolist()
    dfs.append(elem_cast_id_temp_df)

# Concatenar todos los DataFrames de una vez
df_resultante = pd.concat(dfs, ignore_index=True)



df_resultante

ValueError: No objects to concatenate

In [ ]:
for index_cast, row_cast in cast_df.iterrows():
    
    row_cast_str = row_cast["cast"]
    row_cast_str = row_cast_str.replace("'",'"')
    row_cast_str = row_cast_str.replace("None", "null")
    row_cast_list = json.loads(row_cast_str)
    row_cast_df = pd.DataFrame(row_cast_list)
    
    for index_id, row_id in id_df.iterrows():
        row_id_int = row_id['id']
        row_id_df = pd.DataFrame([row_id_int], columns=['id'])
        row_id_df_repeat = pd.concat([row_id_df] * len(row_cast_df), ignore_index=True)
        row_cast_id_df = pd.concat([row_cast_df.reset_index(drop=True), row_id_df_repeat.reset_index(drop=True)], axis=1)
    
    cast_id_df = pd.concat([cast_id_df, row_cast_id_df], axis=0, ignore_index=True)

cast_id_df.head()

In [7]:
df_resultante = pd.DataFrame()

In [8]:
for lista in lista_resultante:
    df_temp = pd.DataFrame(lista)
    df_resultante = pd.concat([df_resultante, df_temp], ignore_index=True)

print(df_resultante)

KeyboardInterrupt:

In [5]:
def eliminar_caracteres(texto, caracter_a_eliminar, inicio, fin):
    # Expresión regular para encontrar el patrón entre los caracteres de inicio y fin
    patron = f'{inicio}.*?{fin}'
    
    def reemplazo(match):
        # Reemplazar el carácter específico dentro del patrón encontrado
        return match.group(0).replace(caracter_a_eliminar, '')
    
    # Usar sub para reemplazar los caracteres en el texto
    return re.sub(patron, reemplazo, texto)

In [6]:
def reemplazar_caracteres(texto, caracter_a_reemplazar, nuevo_caracter, inicio, fin):
    # Expresión regular para encontrar el patrón entre los caracteres de inicio y fin
    patron = f'{inicio}.*?{fin}'
    
    def reemplazo(match):
        # Reemplazar el carácter específico dentro del patrón encontrado
        return match.group(0).replace(caracter_a_reemplazar, nuevo_caracter)
    
    # Usar sub para reemplazar los caracteres en el texto
    return re.sub(patron, reemplazo, texto)

In [163]:
cadena = 'asMn"as"kdbhM'
cadena
reemplazar_caracteres(cadena, '"', "'", 'M','h')

"asMn'as'kdbhM"

In [7]:
cast_df_clear = pd.DataFrame()
cast_df_clear

Empty DataFrame
Columns: []
Index: []

In [113]:
for index_cast, row_cast in cast_df.iloc[:999].iterrows():
    
    row_cast_str = row_cast['cast']
    
    row_cast_str = row_cast_str.replace('"', '##')
    row_cast_str = row_cast_str.replace("'", '"')
    row_cast_str = reemplazar_caracteres(row_cast_str, '"', '\\"', '##', '##')
    row_cast_str = row_cast_str.replace('##', '"')
    row_cast_str = row_cast_str.replace('""', '"')
    row_cast_str = row_cast_str.replace("None", "null")
    
    try:
        row_cast_list = json.loads(row_cast_str)
    except json.JSONDecodeError as e:
        print('Error en la cadena:', e)
        print(row_cast_str[1898:2530])
        print(index_cast)
        break

    row_cast_df = pd.DataFrame(row_cast_list)
    
    cast_df_clear = pd.concat([cast_df_clear, row_cast_df], axis=0, ignore_index=True)

Error en la cadena: Expecting ',' delimiter: line 1 column 1898 (char 1897)
9b0f", "gender": 1,
49

In [123]:
row_cast_str = cast_df['cast'][49]
print(row_cast_str[1880:1920])
row_cast_str = row_cast_str.replace('"', '##')
print(row_cast_str[1880:1920])
row_cast_str = row_cast_str.replace("'", '"')
row_cast_str = reemplazar_caracteres(row_cast_str, '"', '\\"', '##', '##')
print(row_cast_str[1880:1920])
row_cast_str = row_cast_str.replace('##', '"')
row_cast_str = row_cast_str.replace('""', '"')
row_cast_str = row_cast_str.replace("None", "null")

print(row_cast_str[1880:1920])

row_cast_list = json.loads(row_cast_str)

row_cast_df = pd.DataFrame(row_cast_list)

row_cast_df

'Sgt. Jeffrey "Jeff" Rabin', 'credit_id'
: 'Sgt. Jeffrey ##Jeff## Rabin', 'credit
r": "Sgt. Jeffrey ##Jeff## Rabin", "cred
: "Sgt. Jeffrey "Jeff" Rabin", "credit_i

JSONDecodeError: Expecting ',' delimiter: line 1 column 1898 (char 1897)

In [24]:
for index_cast, row_cast in cast_df.iterrows():
    
    row_cast_str = row_cast["cast"]
    
    row_cast_str = re.sub(r"'(.*)': '(.*)',", r'"\1": "\2",', row_cast_str)
    row_cast_str = re.sub(r"'(.*)': (.*),", r'"\1": \2,', row_cast_str)
    
    #row_cast_str = row_cast_str.replace("': '",'": "')
    #row_cast_str = row_cast_str.replace("', '", '", "')
    #row_cast_str = row_cast_str.replace("': ", '": ')
    #row_cast_str = row_cast_str.replace(", '", ', "')
    
    #row_cast_str = row_cast_str.replace("{'", '{"')
    #row_cast_str = row_cast_str.replace("'}", '"}')
    
    #row_cast_str = row_cast_str.replace('""','"')
    
    #row_cast_str = reemplazar_caracteres(row_cast_str, '"', "\'", '": "', '", "')
    row_cast_str = row_cast_str.replace("None", "null")
    
    try:
        row_cast_list = json.loads(row_cast_str)
    except json.JSONDecodeError as e:
        print('Error en la cadena:', e)
        #print(row_cast_str)
        print(row_cast_str[0:10])
        #print(index_cast)
        break
    
    #row_cast_list = json.loads(row_cast_str)
        
    row_cast_df = pd.DataFrame(row_cast_list)
    
    cast_df_clear = pd.concat([cast_df_clear, row_cast_df], axis=0, ignore_index=True)

Error en la cadena: Expecting value: line 1 column 2 (char 1)
[

In [10]:
for index_cast, row_cast in cast_df.iterrows():
    
    row_cast_str = row_cast["cast"]
    row_cast_str = row_cast_str.replace("': '",'": "')
    row_cast_str = row_cast_str.replace("', '", '", "')
    row_cast_str = row_cast_str.replace("': ", '": ')
    row_cast_str = row_cast_str.replace(", '", ', "')
    row_cast_str = row_cast_str.replace("{'", '{"')
    row_cast_str = row_cast_str.replace("'}", '"}')
    row_cast_str = row_cast_str.replace('""','"')
    row_cast_str = reemplazar_caracteres(row_cast_str, '"', "\'", '": "', '", "')
    
    row_cast_str = row_cast_str.replace("None", "null")
    print(index_cast)
    row_cast_list = json.loads(row_cast_str)
        
    row_cast_df = pd.DataFrame(row_cast_list)
    
    cast_df_clear = pd.concat([cast_df_clear, row_cast_df], axis=0, ignore_index=True)

0
1
2
3
4
5
6

KeyboardInterrupt:

    #row_cast_str = reemplazar_caracteres(row_cast_str, "'", '\\"', '\': \\"', '\\", \'')
    #row_cast_str = reemplazar_caracteres(row_cast_str, '"', '\\"', '\': \\"', '\\", \'')
    #row_cast_str = row_cast_str.replace("\\\'", "/")
    #row_cast_str = eliminar_caracteres(row_cast_str, "\\\'", ": '", "',")
    #row_cast_str = eliminar_caracteres(row_cast_str, "'", ': "', '",')
    #row_cast_str = row_cast_str.replace("\\", "/")
    #row_cast_str = eliminar_caracteres(row_cast_str, "'", '"', '"')
    #row_cast_str = eliminar_caracteres(row_cast_str, '"', "'", "'")

    #row_cast_str = eliminar_caracteres(row_cast_str, '"', ': "', '",')

 try:
        row_cast_list = json.loads(row_cast_str)
    except json.JSONDecodeError as e:
        print('Error en la cadena:', e)
        print(row_cast_str[1870:1910])
        print(index_cast)
        break

In [193]:
for index_cast, row_cast in cast_df.iterrows():
    row_cast_str = row_cast["cast"]
    
    if index_cast == 3:
        print(row_cast_str[15:65])
        break

 'character': "Savannah 'Vannah' Jackson", 'credit

In [134]:
for index_cast, row_cast in cast_df.iterrows():
    row_cast_str = row_cast["cast"]
    row_cast_str = eliminar_caracteres(row_cast_str, "\\\'", ": '", "',")
    #row_cast_str = row_cast_str.replace("\\\'", "/")
    #row_cast_str = row_cast_str.replace("\\", "/")
    #row_cast_str = eliminar_caracteres(row_cast_str, "'", '"', '"')
    row_cast_str = eliminar_caracteres(row_cast_str, '"', "'", "'")
    #row_cast_str = row_cast_str.replace("'",'"')
    if index_cast == 320:
        print(row_cast_str[840:870])
        #row_cast_str = eliminar_caracteres(row_cast_str, '"', "'", "'")
        #print(row_cast_str[850:870])
        break

': 'Mark Dags DAgastino', 'cre

In [80]:
for index_cast, row_cast in cast_df.iterrows():
    row_cast_str = row_cast["cast"]
    if index_cast == 320:
        print(row_cast_str[810:1010])
        #row_cast_str = eliminar_caracteres(row_cast_str, '"', "'", "'")
        #print(row_cast_str[850:870])
        break

g'}, {'cast_id': 8, 'character': 'Mark \'Dags" D\'Agastino', 'credit_id': '52fe4572c3a368484e05b66f', 'gender': 2, 'id': 17604, 'name': 'Jeremy Renner', 'order': 4, 'profile_path': '/g8gheNEdPSXWH5Snj

In [67]:
cadena = eliminar_caracteres(""asbabxas"", '"', '"', '"')
cadena

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1284798691.py, line 1)

In [63]:
for index_cast, row_cast in cast_df.iterrows():
    row_cast_str = row_cast["cast"]
    if index_cast == 3:
        print(row_cast_str)
        row_cast_str = eliminar_caracteres(row_cast_str, "'", '"', '"')
        print(row_cast_str)

[{'cast_id': 1, 'character': "Savannah 'Vannah' Jackson", 'credit_id': '52fe44779251416c91011aad', 'gender': 1, 'id': 8851, 'name': 'Whitney Houston', 'order': 0, 'profile_path': '/69ouDnXnmklYPr4sMJXWKYz81AL.jpg'}, {'cast_id': 2, 'character': "Bernadine 'Bernie' Harris", 'credit_id': '52fe44779251416c91011ab1', 'gender': 1, 'id': 9780, 'name': 'Angela Bassett', 'order': 1, 'profile_path': '/tHkgSzhEuJKp5hqp0DZLad8HNZ9.jpg'}, {'cast_id': 3, 'character': "Gloria 'Glo' Matthews", 'credit_id': '52fe44779251416c91011ab5', 'gender': 1, 'id': 18284, 'name': 'Loretta Devine', 'order': 2, 'profile_path': '/zLQFwQTFtHkb8sbFdkPNamFI7jv.jpg'}, {'cast_id': 4, 'character': 'Robin Stokes', 'credit_id': '52fe44779251416c91011ab9', 'gender': 1, 'id': 51359, 'name': 'Lela Rochon', 'order': 3, 'profile_path': '/9DBu3r5O4fBosSS4FnSzFCVpm0O.jpg'}, {'cast_id': 5, 'character': 'Marvin King', 'credit_id': '52fe44779251416c91011abd', 'gender': 2, 'id': 66804, 'name': 'Gregory Hines', 'order': 4, 'profile_path': '/rvvQWFQGeGR14WFVNe0Qg1J7uVY.jpg'}, {'cast_id': 6, 'character': 'Kenneth Dawkins', 'credit_id': '52fe44779251416c91011ac1', 'gender': 2, 'id': 352, 'name': 'Dennis Haysbert', 'order': 5, 'profile_path': '/mn5Nc5Q31GslpVVWs8p41W4TBma.jpg'}, {'cast_id': 8, 'character': 'John Harris, Sr.', 'credit_id': '52fe44779251416c91011ac5', 'gender': 2, 'id': 87118, 'name': 'Michael Beach', 'order': 6, 'profile_path': '/lOlWhURNKyZHn71dvq7qC7fiwN6.jpg'}, {'cast_id': 10, 'character': 'Troy', 'credit_id': '52fe44779251416c91011acf', 'gender': 2, 'id': 34, 'name': 'Mykelti Williamson', 'order': 7, 'profile_path': '/8TTxzpuvvpw2tB8xZBCDslYupNU.jpg'}, {'cast_id': 20, 'character': 'Joseph', 'credit_id': '56d1b15fc3a3681e4a008b6b', 'gender': 2, 'id': 1276777, 'name': 'Lamont Johnson', 'order': 8, 'profile_path': '/wfZzRPJBdsx62GbkUimc1PShxyC.jpg'}, {'cast_id': 21, 'character': 'James Wheeler', 'credit_id': '56f8a929c3a36816e80084f3', 'gender': 2, 'id': 10814, 'name': 'Wesley Snipes', 'order': 9, 'profile_path': '/hQ6EBa6vgu7HoZpzms8Y10VL5Iw.jpg'}]
[{'cast_id': 1, 'character': "Savannah Vannah Jackson", 'credit_id': '52fe44779251416c91011aad', 'gender': 1, 'id': 8851, 'name': 'Whitney Houston', 'order': 0, 'profile_path': '/69ouDnXnmklYPr4sMJXWKYz81AL.jpg'}, {'cast_id': 2, 'character': "Bernadine Bernie Harris", 'credit_id': '52fe44779251416c91011ab1', 'gender': 1, 'id': 9780, 'name': 'Angela Bassett', 'order': 1, 'profile_path': '/tHkgSzhEuJKp5hqp0DZLad8HNZ9.jpg'}, {'cast_id': 3, 'character': "Gloria Glo Matthews", 'credit_id': '52fe44779251416c91011ab5', 'gender': 1, 'id': 18284, 'name': 'Loretta Devine', 'order': 2, 'profile_path': '/zLQFwQTFtHkb8sbFdkPNamFI7jv.jpg'}, {'cast_id': 4, 'character': 'Robin Stokes', 'credit_id': '52fe44779251416c91011ab9', 'gender': 1, 'id': 51359, 'name': 'Lela Rochon', 'order': 3, 'profile_path': '/9DBu3r5O4fBosSS4FnSzFCVpm0O.jpg'}, {'cast_id': 5, 'character': 'Marvin King', 'credit_id': '52fe44779251416c91011abd', 'gender': 2, 'id': 66804, 'name': 'Gregory Hines', 'order': 4, 'profile_path': '/rvvQWFQGeGR14WFVNe0Qg1J7uVY.jpg'}, {'cast_id': 6, 'character': 'Kenneth Dawkins', 'credit_id': '52fe44779251416c91011ac1', 'gender': 2, 'id': 352, 'name': 'Dennis Haysbert', 'order': 5, 'profile_path': '/mn5Nc5Q31GslpVVWs8p41W4TBma.jpg'}, {'cast_id': 8, 'character': 'John Harris, Sr.', 'credit_id': '52fe44779251416c91011ac5', 'gender': 2, 'id': 87118, 'name': 'Michael Beach', 'order': 6, 'profile_path': '/lOlWhURNKyZHn71dvq7qC7fiwN6.jpg'}, {'cast_id': 10, 'character': 'Troy', 'credit_id': '52fe44779251416c91011acf', 'gender': 2, 'id': 34, 'name': 'Mykelti Williamson', 'order': 7, 'profile_path': '/8TTxzpuvvpw2tB8xZBCDslYupNU.jpg'}, {'cast_id': 20, 'character': 'Joseph', 'credit_id': '56d1b15fc3a3681e4a008b6b', 'gender': 2, 'id': 1276777, 'name': 'Lamont Johnson', 'order': 8, 'profile_path': '/wfZzRPJBdsx62GbkUimc1PShxyC.jpg'}, {'cast_id': 21, 'character': 'James Wheeler', 'credit_id': '56f8a929c3a36816e80084f3', 'gender': 2, 'id': 10814, 'name': 'Wesley Snipes', 'order': 9, 'profile_path': '/hQ6EBa6vgu7HoZpzms8Y10VL5Iw.jpg'}]

In [72]:
for index_cast, row_cast in cast_df.iterrows():
    row_cast_str = row_cast["cast"]
    if index_cast == 13:
        print(row_cast_str[3260:3300])
        row_cast_str = eliminar_caracteres(row_cast_str, '"', "'", "'")
        print(row_cast_str[3260:3300])
        break

acter': '"Jack Jones"', 'credit_id': '52
acter': 'Jack Jones', 'credit_id': '52fe

          row_cast_str = row_cast_str.replace("None", "null")
        row_cast_str = row_cast_str.replace("'","\"")

    try:
        row_cast_list = json.loads(row_cast_str)
    except json.JSONDecodeError as e:
        print('Error en la cadena:', e)
        print(row_cast_str)
        break

In [34]:
cadena_defectuosa = str([{"cast_id": 1, "character": "Savannah "Vannah" Jackson", "credit_id": "52fe44779251416c91011aad", "gender": 1, "id": 8851, "name": "Whitney Houston", "order": 0, "profile_path": "/69ouDnXnmklYPr4sMJXWKYz81AL.jpg"}, {"cast_id": 2, "character": "Bernadine "Bernie" Harris", "credit_id": "52fe44779251416c91011ab1", "gender": 1, "id": 9780, "name": "Angela Bassett", "order": 1, "profile_path": "/tHkgSzhEuJKp5hqp0DZLad8HNZ9.jpg"}, {"cast_id": 3, "character": "Gloria "Glo" Matthews", "credit_id": "52fe44779251416c91011ab5", "gender": 1, "id": 18284, "name": "Loretta Devine", "order": 2, "profile_path": "/zLQFwQTFtHkb8sbFdkPNamFI7jv.jpg"}, {"cast_id": 4, "character": "Robin Stokes", "credit_id": "52fe44779251416c91011ab9", "gender": 1, "id": 51359, "name": "Lela Rochon", "order": 3, "profile_path": "/9DBu3r5O4fBosSS4FnSzFCVpm0O.jpg"}, {"cast_id": 5, "character": "Marvin King", "credit_id": "52fe44779251416c91011abd", "gender": 2, "id": 66804, "name": "Gregory Hines", "order": 4, "profile_path": "/rvvQWFQGeGR14WFVNe0Qg1J7uVY.jpg"}, {"cast_id": 6, "character": "Kenneth Dawkins", "credit_id": "52fe44779251416c91011ac1", "gender": 2, "id": 352, "name": "Dennis Haysbert", "order": 5, "profile_path": "/mn5Nc5Q31GslpVVWs8p41W4TBma.jpg"}, {"cast_id": 8, "character": "John Harris, Sr.", "credit_id": "52fe44779251416c91011ac5", "gender": 2, "id": 87118, "name": "Michael Beach", "order": 6, "profile_path": "/lOlWhURNKyZHn71dvq7qC7fiwN6.jpg"}, {"cast_id": 10, "character": "Troy", "credit_id": "52fe44779251416c91011acf", "gender": 2, "id": 34, "name": "Mykelti Williamson", "order": 7, "profile_path": "/8TTxzpuvvpw2tB8xZBCDslYupNU.jpg"}, {"cast_id": 20, "character": "Joseph", "credit_id": "56d1b15fc3a3681e4a008b6b", "gender": 2, "id": 1276777, "name": "Lamont Johnson", "order": 8, "profile_path": "/wfZzRPJBdsx62GbkUimc1PShxyC.jpg"}, {"cast_id": 21, "character": "James Wheeler", "credit_id": "56f8a929c3a36816e80084f3", "gender": 2, "id": 10814, "name": "Wesley Snipes", "order": 9, "profile_path": "/hQ6EBa6vgu7HoZpzms8Y10VL5Iw.jpg"}])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (135386876.py, line 1)

In [ ]:
cast_df_clear.head()

In [24]:
cast_id_df = pd.DataFrame()
cast_id_df

Empty DataFrame
Columns: []
Index: []

In [22]:
for index_cast, row_cast in cast_df.iterrows():
    
    row_cast_str = row_cast["cast"]
    row_cast_str = row_cast_str.replace("'",'"')
    row_cast_str = row_cast_str.replace("None", "null")
    row_cast_list = json.loads(row_cast_str)
    row_cast_df = pd.DataFrame(row_cast_list)
    
    for index_id, row_id in id_df.iterrows():
        row_id_int = row_id['id']
        row_id_df = pd.DataFrame([row_id_int], columns=['id'])
        row_id_df_repeat = pd.concat([row_id_df] * len(row_cast_df), ignore_index=True)
        row_cast_id_df = pd.concat([row_cast_df.reset_index(drop=True), row_id_df_repeat.reset_index(drop=True)], axis=1)
    
    cast_id_df = pd.concat([cast_id_df, row_cast_id_df], axis=0, ignore_index=True)

cast_id_df.head()

JSONDecodeError: Expecting ',' delimiter: line 1 column 41 (char 40)