In [1]:
import pandas as pd
import ast

In [2]:
movies_dataset_df = pd.read_parquet('../data/movies_data/movies_dataset.parquet')

In [7]:
movies_dataset_df.iloc[0]

adult                                                                False
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
original_title                                                   Toy Story
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                          373554033
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                               None
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                            5415
Name: 0, dtype: object

In [8]:
movies_dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  object
 16  runtime                45203 non-null  object
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  object
 23  vote_count             45460 non-null  object
dtypes: object(24)
memory usage: 8.3+ MB

In [9]:
genres = movies_dataset_df[['genres','id']]

In [10]:
genres.iloc[0]

genres    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
id                                                      862
Name: 0, dtype: object

In [11]:
genres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   genres  45466 non-null  object
 1   id      45466 non-null  object
dtypes: object(2)
memory usage: 710.5+ KB

In [12]:
genres = genres.rename(columns={'id': 'movie_id'})

In [14]:
genres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    45466 non-null  object
 1   movie_id  45466 non-null  object
dtypes: object(2)
memory usage: 710.5+ KB

In [15]:
genres_list_dict = [
    {**genres_dict, 'movie_id': row['movie_id']}
    for _, row in genres.iterrows()
    for genres_dict in ast.literal_eval(row['genres'])
]

In [16]:
genres_df = pd.DataFrame(genres_list_dict)

In [17]:
genres_df.head()

      id       name movie_id
0     16  Animation      862
1     35     Comedy      862
2  10751     Family      862
3     12  Adventure     8844
4     14    Fantasy     8844

In [18]:
genres_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91106 entries, 0 to 91105
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        91106 non-null  int64
 1   name      91106 non-null  object
 2   movie_id  91106 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.1+ MB

In [19]:
genres_df['id'] = genres_df['id'].astype('str')
genres_df['name'] = genres_df['name'].astype('str')
genres_df['movie_id'] = genres_df['movie_id'].astype('str')

In [20]:
genres_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91106 entries, 0 to 91105
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        91106 non-null  object
 1   name      91106 non-null  object
 2   movie_id  91106 non-null  object
dtypes: object(3)
memory usage: 2.1+ MB

In [21]:
genres_df.to_parquet('../data/data_processed/genres_ETL.parquet')