In [1]:
import pandas as pd
import ast

In [2]:
url = "https://github.com/FranciscoHugoLezik/Movies_data/blob/main/credits/crew_id.parquet?raw=true"
crew_id_df = pd.read_parquet(url, engine='fastparquet')

In [3]:
crew_id_df.iloc[0]

crew    [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
id                                                    862
Name: 0, dtype: object

In [4]:
crew_id_df = crew_id_df.rename(columns={'id': 'movie_id'})

In [5]:
crew_id_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   crew      45476 non-null  object
 1   movie_id  45476 non-null  int64
dtypes: int64(1), object(1)
memory usage: 710.7+ KB

In [6]:
crew_id_list_dict = [
    {**crew_member, 'movie_id': row['movie_id']}
    for _, row in crew_id_df.iterrows()
    for crew_member in ast.literal_eval(row['crew'])
]

# Crear un DataFrame a partir de la lista de diccionarios
crew_id_modified_df = pd.DataFrame(crew_id_list_dict)

In [7]:
crew_id_modified_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464314 entries, 0 to 464313
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   credit_id     464314 non-null  object
 1   department    464314 non-null  object
 2   gender        464314 non-null  int64
 3   id            464314 non-null  int64
 4   job           464314 non-null  object
 5   name          464314 non-null  object
 6   profile_path  95098 non-null   object
 7   movie_id      464314 non-null  int64
dtypes: int64(3), object(5)
memory usage: 28.3+ MB

In [8]:
crew_id_modified_df['gender'] = crew_id_modified_df['gender'].astype(str)
crew_id_modified_df['id'] = crew_id_modified_df['id'].astype(str)
crew_id_modified_df['movie_id'] = crew_id_modified_df['movie_id'].astype(str)

In [9]:
crew_id_modified_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464314 entries, 0 to 464313
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   credit_id     464314 non-null  object
 1   department    464314 non-null  object
 2   gender        464314 non-null  object
 3   id            464314 non-null  object
 4   job           464314 non-null  object
 5   name          464314 non-null  object
 6   profile_path  95098 non-null   object
 7   movie_id      464314 non-null  object
dtypes: object(8)
memory usage: 28.3+ MB

In [10]:
crew_id_modified_df.to_parquet('../data/crew_ETL.parquet')