In [1]:
import pandas as pd
import ast

In [2]:
url = "https://github.com/FranciscoHugoLezik/Movies_data/blob/main/movies_dataset.parquet?raw=true"
movies_dataset_df = pd.read_parquet(url, engine="fastparquet")

In [28]:
movies_dataset_df.iloc[0]

adult                                                                False
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
original_title                                                   Toy Story
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                          373554033
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                               None
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                            5415
Name: 0, dtype: object

In [29]:
production_countries_df = movies_dataset_df[['production_countries','id']]

In [30]:
production_countries_df = production_countries_df.rename(columns={'id': 'movie_id'})

In [31]:
production_countries_df.iloc[0]['production_countries']

"[{'iso_3166_1': 'US', 'name': 'United States of America'}]"

In [32]:
production_countries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   production_countries  45463 non-null  object
 1   movie_id              45466 non-null  object
dtypes: object(2)
memory usage: 710.5+ KB

In [33]:
production_countries_df = production_countries_df.dropna(subset=['production_countries'])

In [34]:
production_countries_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45463 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   production_countries  45463 non-null  object
 1   movie_id              45463 non-null  object
dtypes: object(2)
memory usage: 1.0+ MB

In [35]:
production_countries_list_dict = [
    {**production_countries_dict, 'movie_id': row['movie_id']}
    for _, row in production_countries_df.iterrows()
    for production_countries_dict in ast.literal_eval(row['production_countries'])
]

TypeError: 'float' object is not iterable

In [36]:
def is_float(object):
    try:
        float(object)
        return True
    except ValueError:
        return False

production_countries_df = production_countries_df[~production_countries_df['production_countries']
                                                  .apply(is_float)]

In [37]:
production_countries_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45460 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   production_countries  45460 non-null  object
 1   movie_id              45460 non-null  object
dtypes: object(2)
memory usage: 1.0+ MB

In [38]:
production_countries_list_dict = [
    {**spoken_language_dict, 'movie_id': row['movie_id']}
    for _, row in production_countries_df.iterrows()
    for spoken_language_dict in ast.literal_eval(row['production_countries'])
]

In [39]:
production_countries_modified_df = pd.DataFrame(production_countries_list_dict)

In [43]:
production_countries_modified_df.head()

  iso_3166_1                      name movie_id
0         US  United States of America      862
1         US  United States of America     8844
2         US  United States of America    15602
3         US  United States of America    31357
4         US  United States of America    11862

In [40]:
production_countries_modified_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49423 entries, 0 to 49422
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   iso_3166_1  49423 non-null  object
 1   name        49423 non-null  object
 2   movie_id    49423 non-null  object
dtypes: object(3)
memory usage: 1.1+ MB

In [42]:
production_countries_df.to_parquet('../data/production_countries_ETL.parquet')