In [1]:
import pandas as pd
import ast

In [2]:
crew_id_df = pd.read_parquet('../data/movies_data/credits/crew_id.parquet', engine='fastparquet')
print(crew_id_df.shape)
crew_id_df.head()

(45476, 2)

                                                crew     id
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...    862
1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...   8844
2  [{'credit_id': '52fe466a9251416c75077a89', 'de...  15602
3  [{'credit_id': '52fe44779251416c91011acb', 'de...  31357
4  [{'credit_id': '52fe44959251416c75039ed7', 'de...  11862

In [3]:
crew_id_df.rename(columns={'id': 'movie_id'}, inplace=True)
crew_id_df.head()

                                                crew  movie_id
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...       862
1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...      8844
2  [{'credit_id': '52fe466a9251416c75077a89', 'de...     15602
3  [{'credit_id': '52fe44779251416c91011acb', 'de...     31357
4  [{'credit_id': '52fe44959251416c75039ed7', 'de...     11862

In [4]:
crew_id_list_dict = [
    {**crew_member, 'movie_id': row['movie_id']}
    for _, row in crew_id_df.iterrows()
    for crew_member in ast.literal_eval(row['crew'])
]

# Crear un DataFrame a partir de la lista de diccionarios
df_resultante = pd.DataFrame(crew_id_list_dict)

In [5]:
df_resultante.head()

,credit_id,department,gender,id,job,name,profile_path,movie_id
0,52fe4284c3a36847f8024f49,Directing,2,7879,Director,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg,862
1,52fe4284c3a36847f8024f4f,Writing,2,12891,Screenplay,Joss Whedon,/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg,862
2,52fe4284c3a36847f8024f55,Writing,2,7,Screenplay,Andrew Stanton,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg,862
3,52fe4284c3a36847f8024f5b,Writing,2,12892,Screenplay,Joel Cohen,/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg,862
4,52fe4284c3a36847f8024f61,Writing,0,12893,Screenplay,Alec Sokolow,/v79vlRYi94BZUQnkkyznbGUZLjT.jpg,862