In [1]:
import pandas as pd
import ast

In [2]:
crew_id_df = pd.read_parquet('../data/movies_data/credits/crew_id.parquet', engine='fastparquet')
print(crew_id_df.shape)
crew_id_df.head()

(45476, 2)

                                                crew     id
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...    862
1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...   8844
2  [{'credit_id': '52fe466a9251416c75077a89', 'de...  15602
3  [{'credit_id': '52fe44779251416c91011acb', 'de...  31357
4  [{'credit_id': '52fe44959251416c75039ed7', 'de...  11862

In [3]:
crew_id_df.rename(columns={'id': 'movie_id'}, inplace=True)
crew_id_df.head()

                                                crew  movie_id
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...       862
1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...      8844
2  [{'credit_id': '52fe466a9251416c75077a89', 'de...     15602
3  [{'credit_id': '52fe44779251416c91011acb', 'de...     31357
4  [{'credit_id': '52fe44959251416c75039ed7', 'de...     11862

In [4]:
crew_id_list_dict = [
    {**crew_member, 'movie_id': row['movie_id']}
    for _, row in crew_id_df.iterrows()
    for crew_member in ast.literal_eval(row['crew'])
]

# Crear un DataFrame a partir de la lista de diccionarios
crew_id_df = pd.DataFrame(crew_id_list_dict)

In [7]:
crew_id_df

,credit_id,department,gender,id,job,name,profile_path,movie_id
0,52fe4284c3a36847f8024f49,Directing,2,7879,Director,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg,862
1,52fe4284c3a36847f8024f4f,Writing,2,12891,Screenplay,Joss Whedon,/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg,862
2,52fe4284c3a36847f8024f55,Writing,2,7,Screenplay,Andrew Stanton,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg,862
3,52fe4284c3a36847f8024f5b,Writing,2,12892,Screenplay,Joel Cohen,/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg,862
4,52fe4284c3a36847f8024f61,Writing,0,12893,Screenplay,Alec Sokolow,/v79vlRYi94BZUQnkkyznbGUZLjT.jpg,862
...,...,...,...,...,...,...,...,...
464309,52fe4776c3a368484e0c8399,Sound,0,549356,Original Music Composer,Richard McHugh,None,67758
464310,52fe4776c3a368484e0c839f,Camera,2,58818,Director of Photography,Jo√£o Fernandes,None,67758
464311,533bccebc3a36844cf0011a7,Directing,0,1085341,Director,Yakov Protazanov,/yyjbGdCs2ZN6IlZNCfmBWyuRDlt.jpg,227506
464312,58ebbc26925141281908aa0a,Production,2,1195656,Producer,Joseph N. Ermolieff,None,227506
464313,593e676c92514105b702e68e,Directing,0,1344495,Director,Daisy Asquith,None,461257

In [6]:
crew_id_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464314 entries, 0 to 464313
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   credit_id     464314 non-null  object
 1   department    464314 non-null  object
 2   gender        464314 non-null  int64
 3   id            464314 non-null  int64
 4   job           464314 non-null  object
 5   name          464314 non-null  object
 6   profile_path  95098 non-null   object
 7   movie_id      464314 non-null  int64
dtypes: int64(3), object(5)
memory usage: 28.3+ MB

In [8]:
crew_id_df['gender'] = crew_id_df['gender'].astype(str)
crew_id_df['id'] = crew_id_df['id'].astype(str)
crew_id_df['movie_id'] = crew_id_df['movie_id'].astype(str)

In [9]:
crew_id_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464314 entries, 0 to 464313
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   credit_id     464314 non-null  object
 1   department    464314 non-null  object
 2   gender        464314 non-null  object
 3   id            464314 non-null  object
 4   job           464314 non-null  object
 5   name          464314 non-null  object
 6   profile_path  95098 non-null   object
 7   movie_id      464314 non-null  object
dtypes: object(8)
memory usage: 28.3+ MB

In [10]:
crew_id_df.to_parquet('../data/data_processed/crew_ETL.parquet')