In [1]:
import pandas as pd
import ast

In [2]:
movies_dataset_df = pd.read_parquet('../data/movies_data/movies_dataset.parquet')

In [3]:
movies_dataset_df.iloc[0]

adult                                                                False
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
original_title                                                   Toy Story
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                          373554033
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                               None
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                            5415
Name: 0, dtype: object

In [4]:
movies_dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  object
 16  runtime                45203 non-null  object
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  object
 23  vote_count             45460 non-null  object
dtypes: object(24)
memory usage: 8.3+ MB

In [6]:
production_companies = movies_dataset_df[['production_companies','id']]

In [17]:
production_companies

                                    production_companies movie_id
0         [{'name': 'Pixar Animation Studios', 'id': 3}]      862
1      [{'name': 'TriStar Pictures', 'id': 559}, {'na...     8844
2      [{'name': 'Warner Bros.', 'id': 6194}, {'name'...    15602
3      [{'name': 'Twentieth Century Fox Film Corporat...    31357
4      [{'name': 'Sandollar Productions', 'id': 5842}...    11862
...                                                  ...      ...
45461                                                 []   439050
45462             [{'name': 'Sine Olivia', 'id': 19653}]   111109
45463  [{'name': 'American World Pictures', 'id': 6165}]    67758
45464               [{'name': 'Yermoliev', 'id': 88753}]   227506
45465                                                 []   461257

[45463 rows x 2 columns]

In [9]:
production_companies.iloc[10]

production_companies    [{'name': 'Columbia Pictures', 'id': 5}, {'nam...
movie_id                                                             9087
Name: 10, dtype: object

In [10]:
production_companies['production_companies'][10]

"[{'name': 'Columbia Pictures', 'id': 5}, {'name': 'Castle Rock Entertainment', 'id': 97}]"

In [11]:
production_companies = production_companies.rename(columns={'id': 'movie_id'})

In [12]:
production_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   production_companies  45463 non-null  object
 1   movie_id              45466 non-null  object
dtypes: object(2)
memory usage: 710.5+ KB

In [13]:
production_companies = production_companies.dropna(subset=['production_companies'])

In [37]:
production_companies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45463 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   production_companies  45463 non-null  object
 1   movie_id              45463 non-null  object
dtypes: object(2)
memory usage: 1.0+ MB

In [32]:
production_companies = production_companies.dropna(subset=['movie_id'])

In [64]:
production_companies = production_companies.reset_index(drop=True)

In [38]:
production_companies['production_companies'] = production_companies['production_companies'].astype('str')
production_companies['movie_id'] = production_companies['movie_id'].astype('str')

In [41]:
production_companies = production_companies[production_companies['production_companies'] != '[]']

In [42]:
production_companies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33588 entries, 0 to 45464
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   production_companies  33588 non-null  object
 1   movie_id              33588 non-null  object
dtypes: object(2)
memory usage: 787.2+ KB

In [65]:
production_companies_list_dict = []

for idx, row in production_companies.iterrows():
    try:
        if isinstance(row['production_companies'], str) and row['production_companies']:
            production_companies_dicts = ast.literal_eval(row['production_companies'])
            for production_companies_dict in production_companies_dicts:
                production_companies_list_dict.append({**production_companies_dict, 'movie_id': row['movie_id']})
    except Exception as e:
        print(f"Error en el Ã­ndice {idx}: {e}")

In [66]:
production_companies_df = pd.DataFrame(production_companies_list_dict)

In [67]:
production_companies_df

                                name     id movie_id
0            Pixar Animation Studios      3      862
1                   TriStar Pictures    559     8844
2                       Teitler Film   2550     8844
3          Interscope Communications  10201     8844
4                       Warner Bros.   6194    15602
...                              ...    ...      ...
70540    20th Century Fox Television  16323    30840
70541  CanWest Global Communications  38978    30840
70542                    Sine Olivia  19653   111109
70543        American World Pictures   6165    67758
70544                      Yermoliev  88753   227506

[70545 rows x 3 columns]

In [68]:
production_companies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70545 entries, 0 to 70544
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      70545 non-null  object
 1   id        70545 non-null  int64
 2   movie_id  70545 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.6+ MB

In [69]:
production_companies_df['name'] = production_companies_df['name'].astype('str')
production_companies_df['id'] = production_companies_df['id'].astype('str')
production_companies_df['movie_id'] = production_companies_df['movie_id'].astype('str')

In [70]:
production_companies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70545 entries, 0 to 70544
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      70545 non-null  object
 1   id        70545 non-null  object
 2   movie_id  70545 non-null  object
dtypes: object(3)
memory usage: 1.6+ MB

In [63]:
# Filtrar las filas donde la columna 'A' no contiene los strings 'True' o 'False'
production_companies = production_companies[~production_companies['production_companies'].isin(['True', 'False'])]

print(production_companies)

                                    production_companies movie_id
0         [{'name': 'Pixar Animation Studios', 'id': 3}]      862
1      [{'name': 'TriStar Pictures', 'id': 559}, {'na...     8844
2      [{'name': 'Warner Bros.', 'id': 6194}, {'name'...    15602
3      [{'name': 'Twentieth Century Fox Film Corporat...    31357
4      [{'name': 'Sandollar Productions', 'id': 5842}...    11862
...                                                  ...      ...
33583    [{'name': 'Concorde-New Horizons', 'id': 4688}]   222848
33584  [{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...    30840
33585             [{'name': 'Sine Olivia', 'id': 19653}]   111109
33586  [{'name': 'American World Pictures', 'id': 6165}]    67758
33587               [{'name': 'Yermoliev', 'id': 88753}]   227506

[33585 rows x 2 columns]

In [71]:
production_companies.to_parquet('../data/data_processed/production_companies_ETL.parquet')