In [27]:
import pandas as pd
import numpy as np

In [3]:
movies_dataset_df = pd.read_parquet('../data/movies_data/movies_dataset.parquet')

In [4]:
movies_dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  object
 16  runtime                45203 non-null  object
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  object
 23  vote_count             45460 non-null  object
dtypes: object(24)
memory usage: 8.3+ MB

In [5]:
movies_dataset_df.iloc[20]

adult                                                                False
belongs_to_collection    {'id': 91698, 'name': 'Chili Palmer Collection...
budget                                                            30250000
genres                   [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
homepage                                                              None
id                                                                    8012
imdb_id                                                          tt0113161
original_language                                                       en
original_title                                                  Get Shorty
overview                 Chili Palmer is a Miami mobster who gets sent ...
popularity                                                       12.669608
poster_path                               /vWtDUUgQAsVyvRW4mE75LBgVm2e.jpg
production_companies     [{'name': 'Jersey Films', 'id': 216}, {'name':...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-20
revenue                                                          115101622
runtime                                                              105.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  The mob is tough, but itâ€™s nothing like show b...
title                                                           Get Shorty
video                                                                False
vote_average                                                           6.4
vote_count                                                             305
Name: 20, dtype: object

In [6]:
unnecessary = "video,imdb_id,adult,original_title,poster_path,homepage"
unnecessary = unnecessary.split(',')
unnecessary

['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']

In [7]:
movies_dataset_df = movies_dataset_df.drop(columns=unnecessary)

In [8]:
movies_dataset_df.shape

(45466, 18)

In [9]:
movies_dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 45466 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   45463 non-null  object
 8   production_countries   45463 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45460 non-null  object
 11  runtime                45203 non-null  object
 12  spoken_languages       45460 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  object
 17  vote_count             45460 non-null  object
dtypes: object(18)
memory usage: 6.2+ MB

In [10]:
movies_only_df = movies_dataset_df.drop(columns=['belongs_to_collection', 
                                                 'genres', 'production_companies', 
                                                 'production_countries', 'spoken_languages'])

In [11]:
movies_only_df.shape

(45466, 13)

In [12]:
movies_only_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45466 non-null  object
 1   id                 45466 non-null  object
 2   original_language  45455 non-null  object
 3   overview           44512 non-null  object
 4   popularity         45461 non-null  object
 5   release_date       45379 non-null  object
 6   revenue            45460 non-null  object
 7   runtime            45203 non-null  object
 8   status             45379 non-null  object
 9   tagline            20412 non-null  object
 10  title              45460 non-null  object
 11  vote_average       45460 non-null  object
 12  vote_count         45460 non-null  object
dtypes: object(13)
memory usage: 4.5+ MB

In [13]:
movies_only_df = movies_only_df.dropna(subset='title')

In [14]:
movies_only_df.dtypes

budget               object
id                   object
original_language    object
overview             object
popularity           object
release_date         object
revenue              object
runtime              object
status               object
tagline              object
title                object
vote_average         object
vote_count           object
dtype: object

In [15]:
movies_only_df['budget'] = movies_only_df['budget'].astype('int')
movies_only_df['id'] = movies_only_df['id'].astype('str')
movies_only_df['original_language'] = movies_only_df['original_language'].astype('str')
movies_only_df['overview'] = movies_only_df['overview'].astype('str')
movies_only_df['popularity'] = movies_only_df['popularity'].astype('float')
movies_only_df['release_date'] = movies_only_df['release_date'].astype('datetime64[ns]')
movies_only_df['revenue'] = movies_only_df['revenue'].astype('int')
movies_only_df['runtime'] = movies_only_df['runtime'].astype('float')
movies_only_df['status'] = movies_only_df['status'].astype('str')
movies_only_df['tagline'] = movies_only_df['tagline'].astype('str')
movies_only_df['title'] = movies_only_df['title'].astype('str')
movies_only_df['vote_average'] = movies_only_df['vote_average'].astype('float')
movies_only_df['vote_count'] = movies_only_df['vote_count'].astype('int')

In [16]:
movies_only_df.dtypes

budget                        int64
id                           object
original_language            object
overview                     object
popularity                  float64
release_date         datetime64[ns]
revenue                       int64
runtime                     float64
status                       object
tagline                      object
title                        object
vote_average                float64
vote_count                    int64
dtype: object

In [17]:
movies_only_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45460 entries, 0 to 45465
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45460 non-null  int64
 1   id                 45460 non-null  object
 2   original_language  45460 non-null  object
 3   overview           45460 non-null  object
 4   popularity         45460 non-null  float64
 5   release_date       45376 non-null  datetime64[ns]
 6   revenue            45460 non-null  int64
 7   runtime            45203 non-null  float64
 8   status             45460 non-null  object
 9   tagline            45460 non-null  object
 10  title              45460 non-null  object
 11  vote_average       45460 non-null  float64
 12  vote_count         45460 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(6)
memory usage: 4.9+ MB

In [18]:
movies_only_df = movies_only_df.dropna(subset=['release_date'])

In [19]:
movies_only_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45376 entries, 0 to 45465
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45376 non-null  int64
 1   id                 45376 non-null  object
 2   original_language  45376 non-null  object
 3   overview           45376 non-null  object
 4   popularity         45376 non-null  float64
 5   release_date       45376 non-null  datetime64[ns]
 6   revenue            45376 non-null  int64
 7   runtime            45130 non-null  float64
 8   status             45376 non-null  object
 9   tagline            45376 non-null  object
 10  title              45376 non-null  object
 11  vote_average       45376 non-null  float64
 12  vote_count         45376 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(6)
memory usage: 4.8+ MB

In [20]:
movies_only_df['revenue'] = movies_only_df['revenue'].fillna(0)
movies_only_df['budget'] = movies_only_df['budget'].fillna(0)

In [21]:
movies_only_df['release_year'] = movies_only_df['release_date'].dt.year

In [22]:
movies_only_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45376 entries, 0 to 45465
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45376 non-null  int64
 1   id                 45376 non-null  object
 2   original_language  45376 non-null  object
 3   overview           45376 non-null  object
 4   popularity         45376 non-null  float64
 5   release_date       45376 non-null  datetime64[ns]
 6   revenue            45376 non-null  int64
 7   runtime            45130 non-null  float64
 8   status             45376 non-null  object
 9   tagline            45376 non-null  object
 10  title              45376 non-null  object
 11  vote_average       45376 non-null  float64
 12  vote_count         45376 non-null  int64
 13  release_year       45376 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(1), int64(3), object(6)
memory usage: 5.0+ MB

In [23]:
movies_only_df['return'] = np.where((movies_only_df['revenue'] == 0) | 
                                    (movies_only_df['budget'] == 0), 
                                    0, movies_only_df['revenue'] / movies_only_df['budget'])

In [24]:
movies_only_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45376 entries, 0 to 45465
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45376 non-null  int64
 1   id                 45376 non-null  object
 2   original_language  45376 non-null  object
 3   overview           45376 non-null  object
 4   popularity         45376 non-null  float64
 5   release_date       45376 non-null  datetime64[ns]
 6   revenue            45376 non-null  int64
 7   runtime            45130 non-null  float64
 8   status             45376 non-null  object
 9   tagline            45376 non-null  object
 10  title              45376 non-null  object
 11  vote_average       45376 non-null  float64
 12  vote_count         45376 non-null  int64
 13  release_year       45376 non-null  int32
 14  return             45376 non-null  float64
dtypes: datetime64[ns](1), float64(4), int32(1), int64(3), object(6)
memory usage: 5.4+ MB

In [28]:
movies_only_df = movies_only_df.reset_index(drop=True)

In [ ]:
movies_only_df.info()

In [25]:
movies_only_df.to_parquet('../data/data_processed/movies_ETL.parquet')