In [1]:
import pandas as pd

In [2]:
url = "https://github.com/FranciscoHugoLezik/Movies_data/blob/main/movies_dataset.parquet?raw=true"
movies_dataset_df = pd.read_parquet(url, engine="fastparquet")

In [3]:
movies_dataset_df.iloc[0]

adult                                                                False
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
original_title                                                   Toy Story
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                          373554033
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                               None
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                            5415
Name: 0, dtype: object

In [4]:
unnecessary = "video,imdb_id,adult,original_title,poster_path,homepage"
unnecessary = unnecessary.split(',')
unnecessary

['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']

In [5]:
movies_df = movies_dataset_df.drop(columns=unnecessary)

In [6]:
movies_df.iloc[0]

belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
id                                                                     862
original_language                                                       en
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                          373554033
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                               None
title                                                            Toy Story
vote_average                                                           7.7
vote_count                                                            5415
Name: 0, dtype: object

In [9]:
other_tables = "belongs_to_collection,genres,production_companies,production_countries,spoken_languages"
other_tables = other_tables.split(',')
other_tables

['belongs_to_collection',
 'genres',
 'production_companies',
 'production_countries',
 'spoken_languages']

In [10]:
movies_df = movies_df.drop(columns=other_tables)

In [11]:
movies_df.iloc[0]

budget                                                        30000000
id                                                                 862
original_language                                                   en
overview             Led by Woody, Andy's toys live happily in his ...
popularity                                                   21.946943
release_date                                                1995-10-30
revenue                                                      373554033
runtime                                                           81.0
status                                                        Released
tagline                                                           None
title                                                        Toy Story
vote_average                                                       7.7
vote_count                                                        5415
Name: 0, dtype: object

In [12]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45466 non-null  object
 1   id                 45466 non-null  object
 2   original_language  45455 non-null  object
 3   overview           44512 non-null  object
 4   popularity         45461 non-null  object
 5   release_date       45379 non-null  object
 6   revenue            45460 non-null  object
 7   runtime            45203 non-null  object
 8   status             45379 non-null  object
 9   tagline            20412 non-null  object
 10  title              45460 non-null  object
 11  vote_average       45460 non-null  object
 12  vote_count         45460 non-null  object
dtypes: object(13)
memory usage: 4.5+ MB

In [13]:
movies_df = movies_df.dropna(subset='title')

In [14]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45460 entries, 0 to 45465
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45460 non-null  object
 1   id                 45460 non-null  object
 2   original_language  45449 non-null  object
 3   overview           44506 non-null  object
 4   popularity         45460 non-null  object
 5   release_date       45376 non-null  object
 6   revenue            45460 non-null  object
 7   runtime            45203 non-null  object
 8   status             45379 non-null  object
 9   tagline            20412 non-null  object
 10  title              45460 non-null  object
 11  vote_average       45460 non-null  object
 12  vote_count         45460 non-null  object
dtypes: object(13)
memory usage: 4.9+ MB

In [18]:
movies_df['budget'] = movies_df['budget'].astype('int64')
movies_df['popularity'] = movies_df['popularity'].astype('float')
movies_df['release_date'] = movies_df['release_date'].astype('datetime64[ns]')
movies_df['revenue'] = movies_df['revenue'].astype('int64')
movies_df['runtime'] = movies_df['runtime'].astype('float')
movies_df['vote_average'] = movies_df['vote_average'].astype('float')
movies_df['vote_count'] = movies_df['vote_count'].astype('int')

In [19]:
movies_df.dtypes

budget                        int64
id                           object
original_language            object
overview                     object
popularity                  float64
release_date         datetime64[ns]
revenue                       int64
runtime                     float64
status                       object
tagline                      object
title                        object
vote_average                float64
vote_count                    int32
dtype: object

In [20]:
movies_df = movies_df.dropna(subset=['release_date'])

In [21]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45376 entries, 0 to 45465
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45376 non-null  int64
 1   id                 45376 non-null  object
 2   original_language  45365 non-null  object
 3   overview           44435 non-null  object
 4   popularity         45376 non-null  float64
 5   release_date       45376 non-null  datetime64[ns]
 6   revenue            45376 non-null  int64
 7   runtime            45130 non-null  float64
 8   status             45296 non-null  object
 9   tagline            20398 non-null  object
 10  title              45376 non-null  object
 11  vote_average       45376 non-null  float64
 12  vote_count         45376 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(1), int64(2), object(6)
memory usage: 4.7+ MB

In [22]:
movies_df['revenue'] = movies_df['revenue'].fillna(0)
movies_df['budget'] = movies_df['budget'].fillna(0)

In [23]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45376 entries, 0 to 45465
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45376 non-null  int64
 1   id                 45376 non-null  object
 2   original_language  45365 non-null  object
 3   overview           44435 non-null  object
 4   popularity         45376 non-null  float64
 5   release_date       45376 non-null  datetime64[ns]
 6   revenue            45376 non-null  int64
 7   runtime            45130 non-null  float64
 8   status             45296 non-null  object
 9   tagline            20398 non-null  object
 10  title              45376 non-null  object
 11  vote_average       45376 non-null  float64
 12  vote_count         45376 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(1), int64(2), object(6)
memory usage: 4.7+ MB

In [24]:
movies_df['release_year'] = movies_df['release_date'].dt.year

In [25]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45376 entries, 0 to 45465
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45376 non-null  int64
 1   id                 45376 non-null  object
 2   original_language  45365 non-null  object
 3   overview           44435 non-null  object
 4   popularity         45376 non-null  float64
 5   release_date       45376 non-null  datetime64[ns]
 6   revenue            45376 non-null  int64
 7   runtime            45130 non-null  float64
 8   status             45296 non-null  object
 9   tagline            20398 non-null  object
 10  title              45376 non-null  object
 11  vote_average       45376 non-null  float64
 12  vote_count         45376 non-null  int32
 13  release_year       45376 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(2), int64(2), object(6)
memory usage: 4.8+ MB

In [27]:
return_movie = (
    lambda row: row['revenue'] / row['budget'] 
    if row['revenue'] > 0 and row['budget'] > 0 
    else 0
)

movies_df['return'] = movies_df.apply(return_movie, axis=1)

In [28]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45376 entries, 0 to 45465
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45376 non-null  int64
 1   id                 45376 non-null  object
 2   original_language  45365 non-null  object
 3   overview           44435 non-null  object
 4   popularity         45376 non-null  float64
 5   release_date       45376 non-null  datetime64[ns]
 6   revenue            45376 non-null  int64
 7   runtime            45130 non-null  float64
 8   status             45296 non-null  object
 9   tagline            20398 non-null  object
 10  title              45376 non-null  object
 11  vote_average       45376 non-null  float64
 12  vote_count         45376 non-null  int32
 13  release_year       45376 non-null  int32
 14  return             45376 non-null  float64
dtypes: datetime64[ns](1), float64(4), int32(2), int64(2), object(6)
memory usage: 5.2+ MB

In [29]:
movies_df = movies_df.reset_index(drop=True)

In [30]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45376 entries, 0 to 45375
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45376 non-null  int64
 1   id                 45376 non-null  object
 2   original_language  45365 non-null  object
 3   overview           44435 non-null  object
 4   popularity         45376 non-null  float64
 5   release_date       45376 non-null  datetime64[ns]
 6   revenue            45376 non-null  int64
 7   runtime            45130 non-null  float64
 8   status             45296 non-null  object
 9   tagline            20398 non-null  object
 10  title              45376 non-null  object
 11  vote_average       45376 non-null  float64
 12  vote_count         45376 non-null  int32
 13  release_year       45376 non-null  int32
 14  return             45376 non-null  float64
dtypes: datetime64[ns](1), float64(4), int32(2), int64(2), object(6)
memory usage: 4.8+ MB

In [31]:
movies_df.to_parquet('../data/movies_ETL.parquet')