In [2]:
import pandas as pd
import ast

In [3]:
movies_dataset_df = pd.read_parquet('../data/movies_data/movies_dataset.parquet')

In [4]:
movies_dataset_df.iloc[0]

adult                                                                False
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
original_title                                                   Toy Story
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                          373554033
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                               None
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                            5415
Name: 0, dtype: object

In [21]:
movies_dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  object
 16  runtime                45203 non-null  object
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  object
 23  vote_count             45460 non-null  object
dtypes: object(24)
memory usage: 8.3+ MB

In [47]:
belongs_to_collection = movies_dataset_df[['belongs_to_collection','id']]

In [48]:
belongs_to_collection = belongs_to_collection.rename(columns={'id': 'movie_id'})

In [49]:
belongs_to_collection.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   movie_id               45466 non-null  object
dtypes: object(2)
memory usage: 710.5+ KB

In [50]:
belongs_to_collection = belongs_to_collection.dropna(subset='belongs_to_collection')

In [51]:
belongs_to_collection.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4494 entries, 0 to 45382
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   movie_id               4494 non-null   object
dtypes: object(2)
memory usage: 105.3+ KB

In [52]:
belongs_to_collection['belongs_to_collection'][0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [53]:
belongs_to_collection['movie_id'][0]

'862'

In [54]:
# Convertir la columna de cadenas de texto a diccionarios
belongs_to_collection_dict = belongs_to_collection['belongs_to_collection'].apply(ast.literal_eval)

# Expandir la columna de diccionarios en columnas separadas
dict_df = belongs_to_collection_dict.apply(pd.Series)

# Concatenar el DataFrame expandido con la columna num√©rica original
belongs_to_collection_df = pd.concat([dict_df, belongs_to_collection['movie_id']], axis=1)

In [55]:
belongs_to_collection_df.head()

,id,name,poster_path,backdrop_path,0,movie_id
0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,NaN,862
2,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,NaN,15602
4,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg,NaN,11862
9,645.0,James Bond Collection,/HORpg5CSkmeQlAolx3bKMrKgfi.jpg,/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg,NaN,710
12,117693.0,Balto Collection,/w0ZgH6Lgxt2bQYnf1ss74UvYftm.jpg,/9VM5LiJV0bGb1st1KyHA3cVnO2G.jpg,NaN,21032

In [56]:
belongs_to_collection_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4494 entries, 0 to 45382
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4491 non-null   float64
 1   name           4491 non-null   object
 2   poster_path    3948 non-null   object
 3   backdrop_path  3263 non-null   object
 4   0              3 non-null      float64
 5   movie_id       4494 non-null   object
dtypes: float64(2), object(4)
memory usage: 374.8+ KB

In [57]:
belongs_to_collection_df = belongs_to_collection_df.drop(columns=[0, 'poster_path'])

In [58]:
belongs_to_collection_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4494 entries, 0 to 45382
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4491 non-null   float64
 1   name           4491 non-null   object
 2   backdrop_path  3263 non-null   object
 3   movie_id       4494 non-null   object
dtypes: float64(1), object(3)
memory usage: 304.6+ KB

In [70]:
belongs_to_collection_df = belongs_to_collection_df.dropna(subset='id')

In [71]:
belongs_to_collection_df = belongs_to_collection_df.reset_index(drop=True)

In [72]:
belongs_to_collection_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4491 entries, 0 to 4490
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4491 non-null   float64
 1   name           4491 non-null   object
 2   backdrop_path  3263 non-null   object
 3   movie_id       4491 non-null   object
dtypes: float64(1), object(3)
memory usage: 140.5+ KB

In [73]:
belongs_to_collection_df['id'] = belongs_to_collection_df['id'].astype('str')
belongs_to_collection_df['name'] = belongs_to_collection_df['name'].astype('str')
belongs_to_collection_df['backdrop_path'] = belongs_to_collection_df['backdrop_path'].astype('str')
belongs_to_collection_df['movie_id'] = belongs_to_collection_df['movie_id'].astype('str')

In [74]:
belongs_to_collection_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4491 entries, 0 to 4490
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4491 non-null   object
 1   name           4491 non-null   object
 2   backdrop_path  4491 non-null   object
 3   movie_id       4491 non-null   object
dtypes: object(4)
memory usage: 140.5+ KB

In [75]:
belongs_to_collection_df.to_parquet('../data/data_processed/belongs_to_collection_ETL.parquet')