In [1]:
import pandas as pd
import ast

In [2]:
cast_id_df = pd.read_parquet('../data/movies_data/credits/cast_id.parquet', engine='fastparquet')
print(cast_id_df.shape)
cast_id_df.head()

(45476, 2)

                                                cast     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  11862

In [3]:
cast_id_df.rename(columns={'id': 'movie_id'}, inplace=True)
cast_id_df.head()

                                                cast  movie_id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...       862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...      8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...     15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...     31357
4  [{'cast_id': 1, 'character': 'George Banks', '...     11862

In [6]:
cast_id_list_dict = [
    {**cast_member, 'movie_id': row['movie_id']}
    for _, row in cast_id_df.iterrows()
    for cast_member in ast.literal_eval(row['cast'])
]

# Crear un DataFrame a partir de la lista de diccionarios
cast_id_df = pd.DataFrame(cast_id_list_dict)

In [11]:
cast_id_df.head()

,cast_id,character,credit_id,gender,id,name,order,profile_path,movie_id
0,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,862
1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,12898,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,862
2,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,7167,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,862
3,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,12899,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,862
4,18,Rex (voice),52fe4284c3a36847f8024fa5,2,12900,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,862

In [9]:
cast_id_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562474 entries, 0 to 562473
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   cast_id       562474 non-null  int64
 1   character     562474 non-null  object
 2   credit_id     562474 non-null  object
 3   gender        562474 non-null  int64
 4   id            562474 non-null  int64
 5   name          562474 non-null  object
 6   order         562474 non-null  int64
 7   profile_path  388618 non-null  object
 8   movie_id      562474 non-null  int64
dtypes: int64(5), object(4)
memory usage: 38.6+ MB

In [12]:
cast_id_df['cast_id'] = cast_id_df['cast_id'].astype(str)
cast_id_df['gender'] = cast_id_df['gender'].astype(str)
cast_id_df['id'] = cast_id_df['id'].astype(str)
cast_id_df['order'] = cast_id_df['order'].astype(str)
cast_id_df['movie_id'] = cast_id_df['movie_id'].astype(str)

In [13]:
cast_id_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562474 entries, 0 to 562473
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   cast_id       562474 non-null  object
 1   character     562474 non-null  object
 2   credit_id     562474 non-null  object
 3   gender        562474 non-null  object
 4   id            562474 non-null  object
 5   name          562474 non-null  object
 6   order         562474 non-null  object
 7   profile_path  388618 non-null  object
 8   movie_id      562474 non-null  object
dtypes: object(9)
memory usage: 38.6+ MB

In [14]:
cast_id_df.to_parquet('../data/data_processed/cast_ETL.parquet')