In [46]:
import pandas as pd
import ast

In [34]:
url = "https://github.com/FranciscoHugoLezik/Movies_data/blob/main/movies_dataset.parquet?raw=true"
movies_dataset_df = pd.read_parquet(url, engine="fastparquet")

In [35]:
movies_dataset_df.iloc[0]

adult                                                                False
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
original_title                                                   Toy Story
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                          373554033
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                               None
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                            5415
Name: 0, dtype: object

In [47]:
spoken_languages_df = movies_dataset_df[['spoken_languages','id']]

In [48]:
spoken_languages_df = spoken_languages_df.rename(columns={'id': 'movie_id'})

In [49]:
spoken_languages_df.iloc[0]['spoken_languages']

"[{'iso_639_1': 'en', 'name': 'English'}]"

In [50]:
spoken_languages_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   spoken_languages  45460 non-null  object
 1   movie_id          45466 non-null  object
dtypes: object(2)
memory usage: 710.5+ KB

In [51]:
spoken_languages_df = spoken_languages_df.dropna(subset=['spoken_languages'])

In [52]:
spoken_languages_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45460 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   spoken_languages  45460 non-null  object
 1   movie_id          45460 non-null  object
dtypes: object(2)
memory usage: 1.0+ MB

In [53]:
spoken_languages_list_dict = [
    {**spoken_language_dict, 'movie_id': row['movie_id']}
    for _, row in spoken_languages_df.iterrows()
    for spoken_language_dict in ast.literal_eval(row['spoken_languages'])
]

In [54]:
spoken_languages_modified_df = pd.DataFrame(spoken_languages_list_dict)

In [55]:
spoken_languages_modified_df.head()

  iso_639_1      name movie_id
0        en   English      862
1        en   English     8844
2        fr  Français     8844
3        en   English    15602
4        en   English    31357

In [56]:
spoken_languages_modified_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53300 entries, 0 to 53299
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   iso_639_1  53300 non-null  object
 1   name       53300 non-null  object
 2   movie_id   53300 non-null  object
dtypes: object(3)
memory usage: 1.2+ MB

In [57]:
spoken_languages_modified_df.to_parquet('../data/spoken_languages_ETL.parquet')